{% load static %}
<!DOCTYPE html>
<html lang="en"></html>
<head>
<title>Moethy</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="shotcut icon" href="https://image.ibb.co/jQrMU9/diamond.png">
<link rel="stylesheet" type="text/css" href="{% static 'Story4/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- <body> -->
    <body style="background-image:url('https://image.ibb.co/mzzVNU/background.png')">
    <div class="header">
        <a href="#default" class="logo">Muthia Iftinah Parahita</a>
        <div class="header-right">
            <a href="https://storyempat.herokuapp.com/Story4/">Home</a>
          <a href="https://storyempat.herokuapp.com/Story4/about/" target="_blank">About</a>
          <a href="https://storyempat.herokuapp.com/Story4/registration/" target="_blank">Registration</a>
          <a href="https://storyempat.herokuapp.com/Story4/form/" target="_blank">Activity</a>
        </div>
      </div>
      {% block content %}
      {% endblock %}
    <br><br>

</body>

    <footer>
        <div class="navbar" id="myNavbar">
            <a href="#news">Hey thanks for coming</a>
          </div>
    </footer>
    <script>
        function myFunction() {
            var x = document.getElementById("myNavbar");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
        </script>
</html>