{% extends 'base.html' %}

{% block content %} 

    <!-- <body> -->
    <section name="form"> 
        <h2>Daily Activity</h2> 
        <form method='POST' action="{% url 'form' %}"> 
            <div class="center">
            <div class="row">
            <div class="col-35">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
            </form>
                <form method="POST" action= "{% url 'delete' %}">{% csrf_token %}
                <button>Delete</button></form>
                <!-- <button type="" class = 'save btn btn-default'>Delete</button></form> -->
            </div></div></div>
            <br> 
        
    </section> 

    <body>
    {% for acara in schedules %}
    <p>Day : {{acara.Day}} </p>
    <p>Date : {{acara.Date}} </p>
    <p>Time : {{acara.Time}} </p>
    <p>Name : {{acara.Name}} </p>
    <p>Place : {{acara.Place}} </p>
    <p>Category : {{acara.Category}} </p>
    {% endfor %}
    </body>

    </html>
{% endblock %}

