{% extends 'base.html' %}

{% block content %}
    <div>
        <img src="https://image.ibb.co/nxwMU9/profile.gif" width="320" height="300" class="responsive" align="left" ;/>
        <h1 style="font-family:Berkshire Swash;color:darkslategray;font-size:500%;text-align:center;font-size:9vw;"><b>Hello</b></h1>
        <h1 style="font-family:Berkshire Swash;color:darkslategray;font-size:500%;text-align:center;font-size:9vw;"><b>It's Moethy</b></h1>
        </div>
    </div>
{% endblock %}
