{% extends 'base.html' %}
    
    {% block content %}    
    <div>
    <img class="kiri" src="https://image.ibb.co/fB0tbp/mortar.png" class="responsive" width="120" height="100" align="left"/>
    <h1 style="font-family:Berkshire Swash;color:darkslategray;font-size:5vw;;text-align:left;margin-top:0px"><b>17 Random Things About Me</b></h1>
    <br><br><br>
    </div>
    <div>
    <img class="kanan" src="https://image.ibb.co/eyT1U9/books.png" class="responsive" width="120" height="100" align="right"/>
    <h1 style="font-family:Berkshire Swash;color:darkslategray;font-size:5vw;;text-align:right;margin-top:0px"><b>My Top 10 Favourite Books</b></h1>
    <br><br><br>
    </div>
    <div>
    <img class="kiri" src="https://image.ibb.co/jhVgU9/poetry.png" class="responsive" width="120" height="100" align="left"/>
    <h1 style="font-family:Berkshire Swash;color:darkslategray;font-size:5vw;;text-align:left;margin-top:10px"><b>Moet's Poet</b></h1>
    <br><br><br>
    </div>
    {% endblock %}
