{% extends 'base.html' %}
{% block content %}

        <form action="/action_page.php">
            <div class="row">
              <div class="col-25">
                <label for="fname">First Name</label>
              </div>
              <div class="col-35">
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="email">Email</label>
              </div>
              <div class="col-35">
                <input type="email" id="email" name="email" placeholder="Your email..">
              </div>
            </div>
            
            <div class="row">
                    <div class="col-25">
                      <label for="username">User Name</label>
                    </div>
                    <div class="col-35">
                      <input type="text" id="uname" name="username" placeholder="Your username..">
                    </div>
            </div>

            <div class="row">
                <div class="col-25">
                  <label for="username">Birthday</label>
                </div>
                <div class="col-35">
                        <div class="input-group date" data-provide="datepicker">
                                <input type="text" id="datepicker" nama="tanggallhr" placeholder="0000-00-00"class="form-control">
                                <div class="input-group-addon">
                
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="row">
                    <div class="col-25">
                      <label for="password">Password</label>
                    </div>
                    <div class="col-35">
                      <input type="password" id="pw" name="password" placeholder="Your password..">
                    </div>
                </div>
            
                <div class="row">
                        <div class="col-25">
                          <label for="cpassword">Confirmation Password</label>
                        </div>
                        <div class="col-35">
                          <input type="password" id="cpw" name="cpassword" placeholder="Confirmation your password..">
                        </div>
                    </div>

            <div class="row">
              <input type="submit" value="Submit">
            </div>
          </form>
          {% endblock %}
   

